body{
	font-family: serif;
	background-color: #ffc891;
	/* background-image: url("https://cdn.pixabay.com/photo/2018/01/24/18/05/background-3104413_1280.jpg"); */
}

.main-header{
	text-align: center;
	position: relative;
	background-color: orange;
	min-height: 100px;
	padding-top: 10px;
	paddding-bottom: 10px;
}
#employee{
	position: relative;
	top: 10px;
	color: white;
}

#project1{
	position: relative;
	top: 10px;
	font-weight: bold;
}

.form-h{
    	margin-left: 230px;
    	margin-right: 230px;
    	border-style: solid;
    	border-width: 1px;
    	padding: 20px;
    	padding-bottom: 50px;
    	border-color: white;
    	background-color: #ffca66;
    	border-radius: 4px;
}

#navbar{
	text-align: center;
	background-color: black;
	text-decoration: none;
	font-size: 15px;
	padding-top: 17px;
	padding-bottom: 17px;
}

#navbar a{
	color: white;
}

#failSubmit{
	text-align: center;
	font-family: serif;
	font-weight: bold;
}