body{
	font-family: serif;
	background-color: #eef3ad;
	/* background-image: url("https://cdn.pixabay.com/photo/2018/01/24/18/05/background-3104413_1280.jpg"); */
}

.main-header{
	text-align: center;
	position: relative;
	background-color: #baf5b4;
	min-height: 150px;
}
#employee{
	position: relative;
	top: 50px;
	color: white;
}

#project1{
	position: relative;
	top: 50px;
	font-weight: bold;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-footer{
	position: absolute;
	top: 680px;
}

#navbar{
	text-align: center;
	color: white;
	background-color: black;
	text-decoration: none;
	font-size: 20px;
	padding-right: none;
	padding-top: 35px;
	padding-bottom: 35px;
}

h2{
	/* background-image: url("https://cdn.pixabay.com/photo/2018/01/24/18/05/background-3104413_1280.jpg"); */
	background-color: #9bff9b;
	background-position: center bottom;
	color: black;
	font-size: 40px;
	line-height: 1.6em;
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
}